.project_main{
    margin-top:10vh;
}
  .Project {
    height: 300px;
    width: 90%;
    margin:7vh auto;
    display: flex;
  }
  .project_card h4{
      font-weight: 700;
      font-size: 3.5vh;
  }
  .project_card {
    display: flex;
    height: 60vh;
    width: 60vh;
    background: var(--color-footer);
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  .project_explain {
      color:white;
      line-height: 2.5vh;
      text-align: justify;
      margin-top:3vh;
  }
  
  .project_card:not(:first-child) {
      margin-left: -30vh;
  }
  
  .project_card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    Z-index:9;
  }
  
  .project_card:hover ~ .project_card {
    position: relative;
    left: 100px;
    transition: 0.4s ease-out;
    
  }
  
  .project_title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .project_bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 90%;
  }
  
  .project_emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .project_filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .project_card:hover .project_filledbar {
    width: 70%;
    transition: 0.4s ease-out;
  }
  .project_main_heading{
    display:flex;
    justify-content:center;
    font-size:6vh;
  }
  
 @media(max-width:1245px){
     .project_explain p{
        font-size:2vh;
     }
 }


 @media(max-width:850px){
    .project_explain p{
       font-size:1.7vh;
    }
    .project_main_heading{
        font-size:5vh;
        text-align: center;
    }
    .project_card h4{
        font-size: 3vh;
    }
    .s5 h1{
        font-size:4.5vh;
    }
}
@media(max-width:515px){
    .project_explain p{
       font-size:1.4vh;
    }
    .project_main_heading{
        font-size:4vh;
        text-align: center;
    }
    .s5 h1{
        font-size:4vh;
        text-align: center;
    }
}