@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.header{
    width:100%;
    background-position: 1;
}
.header_video{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:2vh;
    color:rgb(248, 239, 239);
    z-index: 2;
    position: relative;
}

.navbar_items{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    margin-top: 2vh;
}
.navbar_point{
    margin:0 3vh;
    font-weight: 400;
}

.head_quote1.1{
    margin-left:3vh;
}

.log_sign{
    margin-top:1.5vh;
}
.log_btn{
    outline: 0;
    background: transparent;
    color:rgb(124, 166, 223);
    border:.2vh solid rgb(88, 144, 207);
    border-radius: 4vh;
    padding:1vh 1.5vh;
    margin:0 2vh;
}
.sign_btn{
    outline: 0;
    background-image: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); 
    color:white;
    border:.2vh solid rgb(233, 144, 72);
    border-radius: 3vh;
    padding:1vh 5vh;
    margin:0 2vh;
}
.header_sub_parts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20vh;
    z-index: 2;
    position: relative;
}
.head_quote1{
    font-weight: 900;
    width:65%;
    color:azure;
    text-align: left;
    margin:3vh;
    margin-left:3vh;
    margin-bottom: 5;
    line-height: 7vh;
}
.head_quote1 span{
    font-weight: 800;
    font-size: larger;
}
.head_quote2{
    font-weight: 400;
    width:70%;
    color:azure;
    text-align: left;
    margin-left:3vh;
    display: flex;
}
.head_quote2 h4{
    margin-top:.7vh;
}
.head_quote2 span{
    font-weight: 800;
    font-size: larger;
}
.head_image{
    margin-top:35vh;
}
.headImage{
    width:50%;
    height:100%;
    border:.6vh solid rgb(233, 144, 72);
    border-radius:10vh;
    box-shadow: 7vh 7vh 10vh;
}


@media (max-width : 1300px){
    .head_quote1 h1{
        font-size:5vh ;
    }
    .head_quote2 h4{
        font-size: 3.2vh;
    }
    
}




@media (max-width : 990px){
    .head_quote1 h1{
        font-size: 4.5vh;
    }
    .head_quote2 h4{
        font-size: 3vh;
    }
    .header_content h1{
        font-size:4vh ;
        width:100%;
        margin:2%;
        margin-top:2vh;
    }
    .header_content_heading{
        width:20%;
    }
    .navbar_items{
        width:40%;
        margin:1vh auto;
        padding-left:5vh;
    }
    .navbar_point{
        margin:1vh;
    }
    .log_sign{
        width:40%;
        margin-left:7vh;
    }
    .log_btn, .sign_btn{
        margin-right:1vh;
        font-size: 2vh;
    }        
    
}
@media (max-width:780px){
    .head_quote1{
        width:70%;
    }
}
@media (max-width:730px){
    .head_quote1 h1{
        font-size: 3.5vh;
    }
    .head_quote span{
        font-size: 3.7vh;
    }
    .head_quote2 h4{
        font-size: 2.5vh;
    }
    .head_quote2 span{
        font-size: 2.8vh;
    }
    .navbar_point{
        font-size:2.7vh;
    }
    .header_content_heading{
        width:40%;
    }
    .header_content_heading h1{
        font-size: 3vh;
    }
    .log_sign{
        width:55%;
        font-size: .6vh;
        display: inline;
    }
    .sign_btn, .log_btn{
        padding:.5vh;
    }
}
@media(max-width:650px){
    .log_sign{
        display:flex;
        flex-direction: column;
        justify-content: right;
        width:20%;
    }
    .sign_btn{
        margin-top:2vh;
        padding:.7vh;
    }
    .navbar_point{
        font-size:2vh;
        margin-top:2vh;
    }
    .header_content_heading{
        width:25%;
    }
    .navbar_items{
        width:20%;
        margin:0;
        padding:0;
    }
}
@media(max-width:520px){
    .navbar_items{
        display:flex;
        flex-direction: column;
        width:10%;
    }
    .head_quote1 h1{
        font-size: 2.7vh;
    }
    .head_quote h4{
        font-size: 2vh;
    }
    .head_quote1 span{
        font-size: 3vh;
    }
    .head_quote span{
        font-size: 2.4vh;
    }
}
