@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.header{
    width:100%;
}
.header_video{
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:2vh;
    color:rgb(248, 239, 239);
}
.navbar_items{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    margin-top: 2vh;
}
.navbar_point{
    margin:0 3vh;
    font-weight: 100;
    color:rgb(233, 144, 72);
}
.log_sign{
    margin-top:1.5vh;
}
.log_btn{
    outline: 0;
    background: transparent;
    color:rgb(124, 166, 223);
    border:.2vh solid rgb(88, 144, 207);
    border-radius: 4vh;
    padding:1vh 1.5vh;
    margin:0 2vh;
}
.sign_btn{
    outline: 0;
    background: rgb(233, 144, 72);
    color:white;
    border:.2vh solid rgb(233, 144, 72);
    border-radius: 3vh;
    padding:1vh 5vh;
    margin:0 2vh;
}
.header_sub_parts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20vh;
}
.head_quote1{
    font-weight: 900;
    width:65%;
    color:azure;
    text-align: left;
    margin:3vh;
    margin-bottom: 5;
    line-height: 7vh;
}
.head_quote1 span{
    color:rgb(233, 144, 72);
    font-weight: 1100;
    font-size: larger;
}
.head_quote2{
    font-weight: 400;
    width:70%;
    color:azure;
    text-align: left;
    margin-left:3vh;
    display: flex;
}
.head_quote2 h4{
    margin-top:.7vh;
}
.head_quote2 span{
    color:rgb(233, 144, 72);
    font-weight: 800;
    font-size: larger;
}
.head_image{
    margin-top:35vh;
}
.headImage{
    width:50%;
    height:100%;
    border:.6vh solid rgb(233, 144, 72);
    border-radius:10vh;
    box-shadow: 7vh 7vh 10vh;
}