@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.history_ai_pic{
  width:500px;
  height: 450px;
  margin-left: 58%;
  margin-top: 50px;
}
.history_heading{
    text-align: center;
    margin-top: 50px;
}
.neural{
    display: flex;
}
.history_card{
    display: flex;
    gap:130px;
   
   
}
.history_starts{
   margin-left: 20%;
    margin-top: 80px;
}

.year_starts{
  
    display:flex;
    gap:48vh;
}
.history_para{
    display:flex;
    margin-left: 10%;
  
    gap: 20vh;
}
.history_paras_1{
   
    font-size: 1rem;
    font-weight: 400;
    color:white;
    margin-left:14.5%;
    width:20%;
    height:12vh;
    
   
   
   
}
.history_paras_2{
    font-size: 1rem;
    font-weight: 400;
    color:white;
    margin-left: -7%;
   
}
.history_paras_3{
  margin-left:-4.5%;
    font-size: 1rem;
    font-weight: 200;
    color:#ffffff;
    
 
}
.history_links{
    display:flex;
    margin-left: 25%;
    gap: 30vh;
}
.history_name_1{
    color: #81AFDD;
    margin-left: -2.5%;
}
.history_name_2{
    color: #81AFDD;
    margin-left:-4%;
}
.history_name_3{
    color: #81AFDD;
    margin-left: -4%;
}
.history_year{

 color: #042c54;
 color: #81AFDD;
 
}
.history_year_1{
   margin-left: 24%;
    color: #042c54;
    width:150%;
}
.history_year_2{
    margin-left: -35%;    
    color: #042c54;
    width:150%;
}
.history_year_3{
    color: #042c54;
    width:70%;
    margin-left: -37%;
    width:150%;
}
@media screen and (max-width:1200px) {
    .history_ai_pic{
        width:500px;
        height: 450px;
        margin-left: 58%;
        margin-top: 50px;
      }
      .history_heading{
          text-align: center;
          margin-top: 50px;
      }
      .neural{
          display: flex;
      }
      .history_card{
          display: flex;
          gap:130px;
         
         
      }
      .history_starts{
         margin-left: 20%;
          margin-top: 80px;
      }
      
      .year_starts{
        
          display:flex;
          gap:48vh;
      }
      .history_para{
          display:flex;
          margin-left: 10%;
        
          gap: 20vh;
      }
      .history_paras_1{
         
          font-size: 1rem;
          font-weight: 400;
          color:white;
          margin-left:14.5%;
          width:20%;
          height:12vh;
          
         
         
         
      }
      .history_paras_2{
          font-size: 1rem;
          font-weight: 400;
          color:white;
          margin-left: -7%;
         
      }
      .history_paras_3{
        margin-left:-4.5%;
          font-size: 1rem;
          font-weight: 200;
          color:#ffffff;
          
       
      }
      .history_links{
          display:flex;
          margin-left: 25%;
          gap: 30vh;
      }
      .history_name_1{
          color: #81AFDD;
          margin-left: -3%;
          width: 90%;
      }
      .history_name_2{
          color: #81AFDD;
          margin-left:4%;
          width:90%;
          margin-left: -8%;
      }
      .history_name_3{
          color: #81AFDD;
          margin-left: 4%;
      }
      .history_year{
      
       color: #042c54;
       color: #81AFDD;
       
      }
      .history_year_1{
         margin-left: 24%;
          color: #042c54;
          width:150%;
      }
      .history_year_2{
         margin-left: -28%;
          color: #042c54;
          width:150%;
      }
      .history_year_3{
          color: #042c54;
          width:70%;
         margin-left: -20%;
          width:150%;
      }
    
}