@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.history_ai_pic{
  width:500px;
  height: 450px;
  margin-left: 58%;
  margin-top: 50px;
}
.history_heading{
    text-align: center;
    margin-top: 50px;
}
.neural{
    display: flex;
}
.history_card{
    display: flex;
    gap:130px;
   
   
}
.history_starts{
    margin-left: 20%;
    margin-top: 80px;
}

.year_starts{
    margin-left: 25%;
    display:flex;
    gap:48vh;
}
.history_para{
    display:flex;
}
.history_links{
    display:flex;
}