@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.projects_card_1{
    display :flex;
    width:50%;
    height: 20vh;
    margin-left: 43%;
  background-color: whitesmoke;
  
}
.projects_heading{
    text-align:center;
    margin-top:40px;
}
.projects_heading_2{
    margin-top: 70px;
    margin-left: 10%;
    width:30%;
}